.media-response{
	margin-left: 20px;
}

.media-response-i{
	background-color: rgba(156, 230, 125, 0.85);
	padding: 17px;
    border-radius: 50%;
}

.media-response-i-danger{
	background-color: rgba(255, 0, 0, 0.67);
	padding: 17px;
    border-radius: 50%;
}