body{
	font-family: $font-family-base;
	background-color: $body-bg;
	color: $text-color;
}


.center{
	text-align: center;
}
.right{
	float: right;
}

a{
	text-decoration: none;
	outline: none;
}

.hr{
	font-weight: 700;
    text-transform: uppercase;
    margin-top: 10px;
    letter-spacing: 1px;
    padding-bottom: 30px;
}

.margintop{
	margin-top: 105px;
}