body{
	margin:0; border:0;
	font-family: $font-family-lato;
	background-color: $body-bg;
	color: $text-color;
}

.right{
	float: right;
}

h1,h2,h3,h4,h5{
	color: $gris;
}

.center{
	text-align: center;
}

.large{
	width: 100%;
}

.select-file{
	position: relative;
	margin-top: -40px;
}

.page-title{
    font-size: 16px;
	text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 10px;
    letter-spacing: 1px;
    padding-bottom: 30px;
	h1{
		color: $orange;
	}
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}

input[type="file"]{
}
