// Global
//--------------------------------------------------
	// colors
	$body-bg:               #fff !default;
	$text-color:            black !default;
	// Fonts
	$font-family-base:        "Arial" !default;
	$font-size-base:          14px !default;
	// Grid
	$sidebar-width: 250px;
	$width-compressed: 52px;

// Colors (btn, form)
//--------------------------------------------------
	$primary:         darken(#428bca, 6.5%) !default; // #337ab7
	$success:         #5cb85c !default;
	$info:            #5bc0de !default;
	$warning:         #f0ad4e !default;
	$danger:          #d9534f !default;

	$orange: 		  #fa6514;
	$color-dark: 	  #292A2F;
